.mobilePost img {
  position: relative !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.mobilePost h4 {
  line-height: 0;
  margin-top: 5px;
}
.mobilePost h4 a {
  font-size: 16px;
  text-decoration: none;
  line-height: 1.4;
}

.mobilePostSecondStyle {
  margin-bottom: 30px;
}
.mobilePostSecondStyle h4 {
  padding: 0 !important;
}
.mobilePostSecondStyle .singleMobilePostTop {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.mobilePostSecondStyle .singleMobilePostTop a, .mobilePostSecondStyle .singleMobilePostTop h4 {
  margin-top: 0;
  padding-top: 0;
}
.mobilePostSecondStyle .singleMobilePostTop img {
  width: -moz-min-content;
  width: min-content;
  max-width: 150px;
  max-height: 125px;
}
.mobilePostSecondStyle .singleMobilePostTop .categoryImgTag {
  width: 100%;
  padding: 3px 0;
  font-size: 10px;
  text-align: center;
}
.mobilePostSecondStyle .singleMobilePostTop .mobilePostLink {
  order: 2 !important;
}
.mobilePostSecondStyle .singleMobilePostBottom {
  padding-top: 0;
}

.mobilePostHeading {
  border-bottom: 1px solid #ea8624;
  display: inline-block;
  padding: 0 0 10px 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.mobilePostHeadingSecond {
  border-bottom: 1px solid maroon;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
}

.singleMobilePost {
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 15px 0;
  margin-bottom: 5px;
}

.singleMobilePostBottom {
  font-size: 13px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.singleMobilePostBottom span:nth-child(1) {
  padding-bottom: 2px;
}

.singleMobilePostTop img {
  max-height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.loadMoreBtn {
  margin-top: 30px;
  width: 100%;
  display: flex;
}
.loadMoreBtn button {
  font-size: 12px;
  border: none;
  padding: 8px 20px 10px 20px;
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  cursor: pointer;
  background: #ea8a2b;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
.loadMoreBtn button:hover {
  background: #e79645;
}

.loadingMorePosts {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: red;
  z-index: 1909;
}

.categoryImgTag {
  position: absolute;
  left: 0;
  bottom: 7px;
  font-size: 12px;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mobilePostLink {
  display: block;
  position: relative;
  height: 100%;
}

.imgIzdvojeno {
  position: relative;
}
.imgIzdvojeno h2 {
  position: absolute;
  background: #1720a2;
  font-size: 12px;
  margin: 0;
  padding: 3px 8px;
  letter-spacing: 1px;
  bottom: 7px;
  border-bottom-left-radius: 6px;
}

.img2Izdvojeno {
  position: relative;
}
.img2Izdvojeno h2 {
  position: absolute;
  background: #1720a2;
  font-size: 10px;
  margin: 0;
  padding: 4px 8px 3px 8px;
  letter-spacing: 1px;
  bottom: 7px;
  border-bottom-left-radius: 6px;
}

.izdvojenoContainer {
  position: relative;
}
.izdvojenoContainer::before {
  content: "";
  width: 2px;
  display: block;
  position: absolute;
}
.izdvojenoContainer a {
  text-decoration: none;
}
.izdvojenoContainer .izdvojenoFirst {
  padding: 20px 12px 0 12px;
  position: relative;
}
.izdvojenoContainer .izdvojenoFirst h1 {
  font-size: 16px;
  padding: 10px 0 0 0;
  margin: 0;
}
.izdvojenoContainer .izdvojenoFirst img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.izdvojenoRest {
  display: flex;
  padding: 20px 12px;
  gap: 12px;
}
.izdvojenoRest img {
  width: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
.izdvojenoRest h1 {
  font-size: 14px;
}
.izdvojenoRest div {
  flex: 1;
}

.carouselEdit > div > ul {
  right: 150px !important;
  right: 50% !important;
  transform: translateX(50%);
  height: 30px;
}

.carouselEdit {
  display: grid;
  margin-bottom: 20px;
}
.carouselEdit div ul {
  bottom: 0;
  right: 0;
  width: auto !important;
  margin: 0 !important;
}
.carouselEdit div ul [role=button] {
  background: #ea8624 !important;
  margin: 10px 5px !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 1;
}

.slide {
  position: relative;
}
.slide h3 {
  width: 100%;
  display: block;
  font-size: 14px;
  position: absolute;
  background: rgba(0, 0, 0, 0.8156862745);
  padding: 10px 10px 30px 10px;
  margin: 0;
  bottom: 0;
}

.izdvojenoTop a {
  text-decoration: none;
  background: blueviolet;
  color: white;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.activeSlide {
  display: block;
  width: 100%;
}

.dots {
  text-align: center;
  display: flex;
}
.dots span {
  background: red;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.activeDot {
  background: #ea8624 !important;
}

@media only screen and (max-width: 768px) {
  .singleMobilePostTop h4 {
    margin-bottom: 0;
    padding: 0 10px;
  }
  .singleMobilePostTop h4 a {
    font-size: 18px !important;
  }
  .singleMobilePost {
    padding: 30px 0 0 0;
    border-bottom: none;
  }
  .singleMobilePostBottom {
    padding: 10px;
  }
  .singleMobilePostBottom span:nth-child(1) {
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .mobilePost {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .mobilePost {
    padding: 0 12px;
  }
}/*# sourceMappingURL=mobile.module.css.map */