.mobilePost {
   
    img {
        position: relative !important;
            object-fit: cover;
    }
    h4 {
        line-height: 0;
        margin-top: 5px;
        a {
            font-size: 16px;
            text-decoration: none;
            line-height: 1.4;
        }
    }
}
.singleMobilePost:nth-child(3), .singleMobilePost:nth-child(7), .singleMobilePost:nth-child(12),.singleMobilePost:nth-child(17),.singleMobilePost:nth-child(20) {
    //display: flex;
    .singleMobilePostTop {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        a, h4 {
            margin-top: 0;
            padding-top: 0;
        }
        img {
            width: min-content;
            max-width: 150px;
            max-height: 125px;
        }
        .categoryImgTag {
            width: 100%;
            padding: 3px 0;
            font-size: 10px;
            text-align: center;
        }
    }
}
.singleMobilePost:nth-child(7),.singleMobilePost:nth-child(17) {
    .mobilePostLink {
        order: 2 !important;
    }
}
.singleMobilePost {
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 15px 0;
    margin-bottom: 5px;
}
.singleMobilePostBottom {
    font-size: 13px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span:nth-child(1) {
        //border-bottom: 1px solid #e79645;
        padding-bottom: 2px;
    }
}
.singleMobilePostTop {
    img {
        max-height: 200px;
        width: 100%;
        object-fit: cover;
        //border-radius: 7px;
    }
}
.loadMoreBtn {
    margin-top: 30px;
    width: 100%;
    display: flex;
    button {
        font-size: 12px;
        border: none;
        padding: 8px 20px 10px 20px;
        text-align: center;
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        cursor: pointer;
        background: #ea8a2b;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all 0.2s ease-in-out;
        border-radius: 5px;
        &:hover {
            background:#e79645;
        }
    }
}
.loadingMorePosts {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: red;
    z-index: 1909;
}
.categoryImgTag {
    position: absolute;
    left: 0;
    bottom: 4px;
    font-size: 12px;
    padding: 5px 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.mobilePostLink {
    display: block;
    position: relative;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .singleMobilePostTop {
        h4 {
            margin-bottom: 0;
            padding: 10px;
            a {
                font-size: 18px !important;
            }
        }
    }
    .singleMobilePost {
        padding: 15px 0 0 0;
        border-bottom: none;
    }
    .singleMobilePostBottom {
       padding: 10px;
        span:nth-child(1) {
            padding-bottom: 5px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .mobilePost {
        display: none;
    }
}
@media only screen and (max-width: 992px) {
    .mobilePost {
        margin-top: 20px;
        padding: 20px;
        //transition: all 2s ease-in-out;
        //animation: fadeIn 1s ease; 
    }
}
// .newPost {
//     animation: fadeIn 0.5s ease; /* Example animation */
//   }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  ///box-shadow: 0px 0px 30px -10px #80007e;