.styleContainer {
  color: #313131;
  margin: 0;
}

.styleContainer a {
  color: #313131;
}

.dangerHtml {
  display: inline-block;
}

.active {
  color: #008ca1 !important;
}

.navLinks li a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.navLinks li a::after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: #008ca1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navLinks li a:hover {
  color: #008ca1;
}

.navLinks li a:hover::after {
  width: 100%;
}

.tagsStyles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tagsStyles div {
  margin-right: 5px;
}

.tagsStyles div a {
  border: 1px solid #DEDEDE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  padding: 6px 12px;
  display: block;
  color: #888888;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tagsStyles div a:hover {
  border: 1px solid #008ca1;
  background: #008ca1;
  color: white;
}

.postList {
  margin-top: 60px;
}

.singlePostHeader {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.singlePostHeader h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.singlePostHeader span {
  font-size: 14px;
  color: #888888;
}

.heroEle {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 550px;
}

.heroEle img {
  -o-object-fit: cover;
     object-fit: cover;
}

.relativeEle {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 280px;
}

.relativeEle img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.relativeEle:hover .hoverOverlay {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 10%, rgba(5, 8, 8, 0.5) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
}

.headingEdit {
  color: #008ca1;
  text-align: center;
  margin-bottom: 0;
  font-size: 24px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.container p {
  font-size: 14px;
  line-height: 1.8;
}

.container iFrame {
  width: 100%;
  height: 50vh;
}

.grid2, .grid3, .grid4, .grid23, .grid2Vijesti {
  display: -ms-grid;
  display: grid;
}

.grid2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.grid2Vijesti {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.grid23 {
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 50px;
}

.grid3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 45px;
}

.flexSidebarParent:last-child {
  border: none !important;
}

.sidebar {
  margin-top: 70px;
}

.sidebar .flexSidebarParent img {
  -o-object-fit: cover;
     object-fit: cover;
  object-fit: cover;
  max-width: 70px;
  max-height: 70px;
}

.sidebar .flexSidebarParent a {
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sidebar .flexSidebarParent a:hover {
  color: #008ca1;
}

.sidebar .flexSidebarParent span {
  font-size: 12px;
  color: #888888;
}

.flexSidebarParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #d5d4d4;
  padding: 13px 0 10px;
}

.flexSidebarParent a {
  font-size: 14px;
  text-decoration: none;
}

.flexSidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.flexSidebar a {
  margin-bottom: 5px;
}

.naslovnaLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.naslovnicaWrap {
  margin-top: 30px;
}

.naslovnicaWrap a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.naslovnicaWrap a:hover .naslovnicaOverly {
  background: rgba(0, 0, 0, 0.5);
}

.naslovnica1 {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.naslovnica1 img {
  width: 100%;
  max-height: 461px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.naslovnica1 h3 {
  margin-bottom: 10px;
  font-size: 22px;
  color: white;
}

.naslovnica {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 188px;
}

.naslovnica img {
  width: 100%;
  max-height: 228px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.naslovnica h3 {
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}

.naslovnicaContainer a {
  position: relative;
  z-index: 1;
}

.naslovnicaContainer .naslovnicaOverly {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.datumKoment {
  font-size: 13px;
  color: white;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.loadMoreBtnCat {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loadMoreBtnCat button {
  font-size: 12px;
  border: none;
  padding: 8px 20px 10px 20px;
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  cursor: pointer;
  background: #ea8a2b;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.loadMoreBtnCat button:hover {
  background: #e79645;
}

.wpEditorContent img {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .heroEle {
    min-height: 300px !important;
  }
}

@media only screen and (max-width: 768px) {
  .tagsStyles {
    padding: 0 15px;
    margin: 30px 0;
  }
  .tagsStyles a {
    color: #f9f5f5 !important;
    letter-spacing: 1px;
  }
  .noSearchResults h2 {
    font-size: 16px;
  }
  .darkMobile {
    background: #222222;
    color: #e4e4e4;
  }
  .darkMobile h1, .darkMobile h2, .darkMobile h3, .darkMobile h4, .darkMobile h5 {
    color: #e4e4e4;
  }
  .darkMobile a {
    color: #e4e4e4;
  }
  .hoverOverlay {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(14, 14, 14, 0.3)), to(rgba(204, 200, 191, 0.1)));
    background: linear-gradient(0deg, rgba(14, 14, 14, 0.3) 0%, rgba(204, 200, 191, 0.1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
  }
  .wpEditorContent img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .sidebar {
    padding: 20px;
  }
  .sidebar .grid2 {
    border: none;
  }
  .sidebar h4 {
    margin: 10px 0;
  }
  .sidebar {
    padding: 0 10px;
  }
  .sidebar .flexSidebarParent {
    border: none;
  }
  .sidebar h4 {
    margin: 10px 0;
  }
  .container {
    padding: 0;
  }
  .grid3 {
    grid-gap: 20px;
  }
  .container iFrame {
    height: 300px;
  }
  .dangerHtml {
    display: none;
  }
  .relativeEle {
    height: 100%;
    max-height: 350px;
    min-height: auto;
  }
  .relativeEle img {
    position: relative !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .heroEle {
    min-height: 400px;
  }
  .headingEdit {
    margin-bottom: 25px;
  }
  .postList {
    margin-top: 30px;
  }
  .singlePostHeader h1 {
    font-size: 22px;
    padding: 0 10px;
  }
  .grid23 {
    grid-gap: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .wpEditorContent {
    padding: 0 15px;
  }
  .tabletContainer, .sidebar, .naslovnicaContainer {
    max-width: 700px;
    margin: 0 auto;
  }
  .naslovnaLink1 {
    height: 350px;
  }
  .grid2Vijesti {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid2Vijesti .naslovnica1 {
    width: 100%;
  }
  .grid2Vijesti .naslovnica1 img {
    width: 100% !important;
  }
  .grid2VijestiOstale {
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
  }
  .grid2VijestiOstale .naslovnica {
    width: 100%;
  }
  .grid3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .grid23 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .relativeEle {
    height: 100%;
  }
  .relativeEle img {
    height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .heroEle img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 1366px) {
  .relativeEle {
    height: 100%;
  }
  .relativeEle img {
    height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=mainStyle.module.css.map */