.naslovnicaHeading {
  border-bottom: 2px solid #008ca1;
  padding-bottom: 6px;
}

.naslovnicaHeading a {
  text-decoration: none;
  background-color: #008ca1;
  color: white !important;
  font-size: 14px;
  padding: 8px 20px;
}

.grid2GrudeOnline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.grid3GrudeOnline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.imageOverlay {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.grudeOnlineMainImg {
  width: 100%;
  margin-top: 15px;
  max-height: 260px;
  height: 100%;
}

.naslovnaOverlay {
  position: relative;
}

.naslovnaOverlay img {
  -o-object-fit: cover;
     object-fit: cover;
}

.naslovnaOverlay a:hover .imageOverlay {
  background: rgba(255, 255, 255, 0.116);
}

.linkFont {
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linkFont:hover {
  color: #008ca1;
}

.grudeOnlineDate span {
  color: #888888;
  padding: 20px 0 10px 0;
  font-size: 14px;
}

.grudeOnlineDate span::after {
  background: #008ca1;
  height: 1px;
  width: 66px;
  display: block;
  content: "";
  margin-top: 10px;
}

.grudeOnlineGrid13:last-child {
  border: none;
}

.grudeOnlineGrid13 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0 10px 0;
}

.grOnlineChildImg {
  max-height: 80px;
  height: 100%;
}

.grudeOnlineContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grudeOnlineContent h3 {
  margin-top: -5px;
}

.grudeOnlineContent h3 a {
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.grudeOnlineContent h3 a:hover {
  color: #008ca1;
}

.grudeOnlineContent span {
  font-size: 14px;
  color: #888888;
}

.ostaleVijesti {
  margin-top: 20px;
}

.ostaleVijesti img {
  width: 100%;
  max-height: 172px;
  height: 100%;
}

.ostalo h3 {
  margin-bottom: 5px;
}

.sportBorder {
  border-bottom: 1px solid #e6e6e6;
}

.gospSportMargin {
  margin-top: 20px;
}

.galerijeDetails {
  position: relative;
  min-height: 228px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.galerijeDetails .imageOverlay {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 3;
  background: rgba(29, 27, 27, 0.178);
}

.galerijeDetails .imageOverlay:hover {
  background: rgba(29, 27, 27, 0.719);
}

.galerijeDetails img {
  max-height: 268px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.galerijeDetails a, .galerijeDetails span {
  color: white;
  font-size: 16px !important;
}

.galerijeContentNaslovna {
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.galerijeContentNaslovna:hover {
  background: rgba(29, 27, 27, 0.904);
  border-radius: 10px;
  padding: 15px;
}

.galerijeContentNaslovna:hover a {
  color: white !important;
}

.flexGrOnline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0 10px;
}

@media only screen and (max-width: 992px) {
  .grudeOnlineGrid13 {
    grid-gap: 15px;
  }
  .grid3GrudeOnline {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=naslovnica.module.css.map */